@import "tailwindcss";

@theme {
  /* ======================
     Light Theme
  ====================== */
  --color-light-bg: rgb(227 227 227);             /* Light Mode - General background */
  --color-light-card: rgb(255 255 255);           /* Light Mode - Card / Container background */

  --color-light-primary: rgb(27 60 83);           /* Light Mode - Primary button */
  --color-light-primary-hover: rgb(35 76 106);    /* Light Mode - Primary button hover */

  --color-light-text-primary: rgb(27 60 83);      /* Light Mode - Primary text */
  --color-light-text-secondary: rgb(69 104 130);  /* Light Mode - Secondary text */

  --color-light-border: rgb(208 208 208);         /* Light Mode - Borders / Dividers */
  --color-light-accent: rgb(35 76 106);           /* Light Mode - Icons / Accent color */

  /* ======================
     Dark Theme
  ====================== */
  --color-dark-bg: rgb(27 60 83);                 /* Dark Mode - General background */
  --color-dark-card: rgb(35 76 106);             /* Dark Mode - Card / Container background */

  --color-dark-primary: rgb(69 104 130);         /* Dark Mode - Primary button */
  --color-dark-primary-hover: rgb(27 60 83);     /* Dark Mode - Primary button hover */

  --color-dark-text-primary: rgb(227 227 227);   /* Dark Mode - Primary text */
  --color-dark-text-secondary: rgb(69 104 130);  /* Dark Mode - Secondary text */

  --color-dark-border: rgb(35 76 106);           /* Dark Mode - Borders / Dividers */
  --color-dark-accent: rgb(227 227 227);         /* Dark Mode - Icons / Accent color */
}

.bourder {
   border-radius: 10px;
}

.link-decoration {
   text-decoration: none;
}